// Font
$font-primary: "Space Grotesk", sans-serif;
$font-secondary: "Be Vietnam Pro", sans-serif;

// Color
$color-white: #fff;
$color-blue: #1e50ff;
// $color-blue00: #0035ee;
$color-yellow: #ffc935;
$color-red: #e94949;
$color-green: #56bd83;
$color-purple: #aa00ff;
$color-dark: #020005;
$color-dark1: #1a1126;
$color-dark2: #131528;
$color-dark3: #192243;
$color-dark4: #05113b;
$color-grey: #b1b5c1;
