.category {
  padding-bottom: 160px;
  &-top {
    margin-bottom: 55px;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 30px;
  }
  &-item {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid $color-dark2;
    @include bg($color-dark2);
    transition: all 0.2s linear;
    &:hover {
      border: 1px solid $color-blue;
    }
  }
  &-image {
    border-radius: 10px;
    width: 100%;
    height: 230px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  &-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    padding: 6px 0;
    @include bg($color-dark3);
    @include capitalize();
    display: block;
    text-align: center;
    border-radius: 6px;
    transition: all 0.2s linear;
    &:hover {
      @include bg($color-blue);
    }
  }

  @media screen and (max-width: 1025px) {
    &-list {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 30px;
    }
    &-image {
      height: 200px;
    }
  }

  /* Mobile: width < 740px */
  @media only screen and (max-width: 46.1875em) {
    padding-bottom: 70px;
    &-list {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 18px 0;
    }
    &-image {
      height: 315px;
    }
  }
}
